.container{
    margin-top: 4em;
    width: 50%;
}

.row{
    margin-bottom: 1em;
    
}

.section{
    margin: 0.5em;
    border: 1px solid rgba(110, 110, 110, 0.188);
    padding: 1em;
    border-radius: 0.5em;
}

.enviar{
    margin: 1em;
}



.alert, .btn-info{
    display: none;
    opacity: 0%;
    transition: opacity 0.5s ease-in-out;
}

